.main
  .main__group-info
    .main__group-info__name
      .main__group-info__name__current-group
        = @group.name
      %ul.main__group-info__name__current-group__member
        member :
        - @group.users.each_with_index do |user, i|
          - unless i.zero?
            ,
          = user.name
    = link_to edit_group_path(@group.id), class: "main__group-info__edit-btn" do
      Edit
  .main__message-lists
    = render @messages
  .main__message-form
    = form_for [@group, @message], html: {class: 'main-form__new-message'} do |f|
      .input-box
        =f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      =f.submit 'send', class: 'form__sub'
