.side-bar
  .side-bar__user
    .side-bar__user__box
      .side-bar__user__box__name
        = current_user.name
      %ul.side-bar__user__box__icons
        %li
          .side-bar__user__box__icons__new-g
            = link_to new_group_path do
              <i class="far fa-edit"></i>
        %li
          .side-bar__user__box__icons__edit-u
            = link_to edit_user_path(current_user) do
              <i class="fas fa-cog"></i>
  .side-bar__groups
    - current_user.groups.each do |group|
      .side-bar__groups__group
        = link_to '#' do
          .side-bar__groups__group__group-name
            = group.name
          .side-bar__groups__group__latest-message
            メッセージがありません。

  